<!DOCTYPE>
    <html>
    <head>
 {% include "video_app/imports/js.html" %}
{% include "video_app/imports/css.html" %}
    <title>
        Fampay Video App
    </title>    
    <head>
{%  include 'video_app/imports/style.html' %}
    <body>
    <div id='modal_div'></div>
    <div style="padding:100px">
    {% include "video_app/table/table.html" %}
<div>

{% include "video_app/table/script.html" %}
{% if messages %}
<script>
{% for message in messages %}
    alert('{{message}}')
{% endfor%}
</script>
{% endif %}
</body>
</html>